<h1 class="page-header">About Us</h1><br>
<h3>Welcome to the ultimate wiki-powered guide to exploring the universe!</h3>
<h4>At the current pace technology is racing, we are quite literly reaching for the stars!</h4>
<h6>The goal of this <i>Wiki</i> is to provide all the information you might need to assist you in your journeys.</h6> 

<p>Some of the catogories that this _Wiki_ aims to cover:</p>
<ul>
    <li>List of all known galaxies.</li>
    <li>List of all known stars.</li>
    <li>List of all known planets.</li>
    <li>List of all known life-forms.</li>
    <li>List of all known space-faring Gov'ts/Corps./Orgs.</li>
    <li>Notable personalities related to the exloration/discovery of the universe.</li>
    <li>Notable events related to the exloration/discovery of the universe.</li>
</ul>

<p>As of 3/1/2017AD (by the gregarian calender) Space travel is essentially non-existant...
However, much research/developmment is underway, to make this dream a reality.

InterstellarWiki aims to become a part of this <i>new frontier</i> by providing a central 
collection of all known data relating to Space Travel.</p>


