/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    color: #7d6c7a;
    background: #0b0e15; // how do I get the image to fill the whole background...
    background-image: url("stars-bg-big-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.container {
    background-color: rgba(0, 0, 0, 0.65);
}

body a {
    // color: #88859a;
    color: #777a89;
    // color: #585d7a;
}

body a:hover {
    text-decoration: none;
    color: #7d6c7a;
}

body a:active {
    text-decoration: none;
    color: #7d6c7a;
}

body .nav li a:hover {
    background-color: #37314b;
}

body .nav-tabs li a:hover {
    border-color: #37314b #37314b #ddd;
}

.nav {
    background-color: rgba(36, 33, 44, 0.9);
}

.user-ctrl {
    color: #585d7a;
    position: relative;
    padding-right: 1em;
    top: 11.5px;
    float: right;
}

.btn-danger {
    color: #b7653e;
    background-color: #7b3a1b;
    border-color: #7b3a1b;
}

.btn-danger:hover {
    color: #bf6f49;
    background-color: #923c13;
    border-color: #923c13;
}

.btn-danger:active {
    color: #bf6f49;
    background-color: #923c13;
    border-color: #923c13;
}

.btn-success {
    color: #81b76c;
    background-color: #367536;
    border-color: #367536;
}

.btn-success:hover {
    color: #80d580;
    background-color: #449d44;
    border-color: #449d44;
}

.btn-success:active {
    color: #80d580;
    background-color: #449d44;
    border-color: #449d44;
}

.upgrade-btn {
    color: #c3bf29;
    padding: 1px;
    border-radius: 10%;
    background-color: rgba(128, 0, 128, 0.5);
}

.upgrade-btn:hover {
    color: #e8e22c;
    padding: 1px;
    border-radius: 20%;
    background-color: rgba(128, 0, 128, 0.6);
}

.upgrade-btn:active {
    color: #e8e22c;
    padding: 1px;
    border-radius: 20%;
    background-color: rgba(128, 0, 128, 0.6);
}

.profile-link {
    color: #7d6c7a;
}

input {
    background-color: #e2d6ea;
    border-radius: 3%;
}

.actions input {
    margin-top: 5px;
}

.alert {
    opacity: 0.5;
}
