// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-wiki-private-check-box {
    margin-left: 20px;
}

.index-links {
    font-size: 20px;
}

.lock-key-icon {
    float: left;
    margin-top: 6px;
    margin-right: 2px;
}

.open-door-icon {
    float: left;
    margin-top: 4px;
    margin-right: 4px;
}
