<br>
<div class="jumbotron">
    <h2>You are currently a Premium member.</h2>
    <p>This gives you access to private wikis.</p>
    <p>Would you  like to downgrade your account to standard?</p>
    <small>Downgrading will cause all your wikis to become public.</small>
    <br></br>
    <p>
        <%= link_to "Yes, Downgrade me", downgrade_path, :class => 'btn btn-danger', data: { confirm: "Are you sure? This action cannot be undone." }  %>
        <%= link_to "Nope!", root_path, :class => 'btn btn-success'  %>
    </p>
</div>